
header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  background-color: rgba(34, 24, 25, 1);
  width: 100%;
  height: 75px;
  font-family: 'Lato';
}

h1 {
  font-family: 'Lato';
  font-weight: 300;
  color: #EAEAEA;
  font-size: 60px;
}

h2 {
  font-family: 'Lato';
  font-weight: 200;
  color: #EAEAEA;
  font-size: 40px;
}

h3 {
  font-family: 'Lato';
  font-weight: 300;
  color: #EAEAEA;
  font-size: 22px;
}

h4 {
  font-family: 'Lato';
  color: #EAEAEA;
  font-size: 20px;
}

p {
  font-family: 'Lato';
  color: #EAEAEA;
  font-weight: 200;
  font-size: 18px;
  text-align: center;
}

header nav {
  display: inline-flex;
  padding-right: 31px;
}

nav span {
  color: #EAEAEA;
  font-family: 'Lato';
  font-weight: 200;
  font-size: 18px;
  padding: 11px;
}

header .logo {
  display: inline-flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 20px;
  height: 45px;
}

/*Sizing*/

.image-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(/Users/fernando/Desktop/WebProjects/TeaCozy/resources/images/img-mission-background2.jpg);
  width: 100%;
  height: 700px;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(34, 24, 25, 1);
  width: auto;
  height: 650px;
}

.features {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 1210px;
  height: 375px;
}

.item-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 375px;
}

.img-box {
  width: 220px;
  height: 330px;
}

.locations {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(/Users/fernando/Desktop/WebProjects/TeaCozy/resources/images/img-locations-background2.jpg);
  width: auto;
  height: 500px;
}

.location-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1022px;
  height: 300px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  background-color: rgba(34, 25, 25, 0.9);
}

.box p {
  padding: 10, 10;
}

/*Footer*/

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(34, 24, 25, 1);
  width: auto;
  height: 260px;
}

footer .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer span {
  color: #EAEAEA;
  font-family: 'Lato';
}

footer a {
  color: #EAEAEA;
  font-family: 'Lato';
  font-size: 20px;
}
