/* Universal Styles */

body,
a {
  font-family: 'Crimson Text';
  color: #EDDCCC;
}

span {
  font-size: 20px;
}

h1 {
  font-size: 65px
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 35px;
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 20px;
}

div {
  display: block;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-wrap: nowrap;
  flex-shrink: 2;
  align-items: center;
}

.main {
  padding-top: 70px;
  width: 1200px;
  margin: auto;
}

/* Header Section */

header {
  width: 100%;
  position: fixed;
  z-index: 1;
  height: 70px;
  background-color: rgb(34, 25, 25);
  align-items: center;
  margin-top: 0px;
}

header img {
  height: 48px;
  padding-left: 36px;
}

nav {
  text-align: right;
  flex-grow: 1;
  padding-right: 36px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

/* Main Section */

/* Mission Section */

#mission {
  background-image: url(/Users/fernando/Desktop/WebProjects/TeaCozy/resources/images/img-mission-background2.jpg);
  width: 100%;
  height: 700px;
}

#mission .content {
  margin: auto;
  text-align: center;
}

#mission h1, h3 {
  margin: 20px auto;
}

/* Features Section */

#featured {
  width: 100%;
  height: 650px;
  background-color: rgb(34, 25, 25);
  text-align: center;
}

#featured h2 {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 20px;
  padding-top: 40px;

}

#featured h4 {
  text-align: center;
  margin-top: 20px;
}

.item img {
  display: block;
}

.item span {
  display: block;
  text-align: center;
  padding-top: 10px;
}

/* Location Section */

#locations {
  background-image: url(/Users/fernando/Desktop/WebProjects/TeaCozy/resources/images/img-locations-background2.jpg);
  width: 100%;
  height: 500px;
}

#locations .flex-container {
  margin: auto;
  width: 1100px;
  height: 330px;
}

#locations h2 {
  text-align: center;
  margin-top: 0px;
  padding-top: 40px;
}

#locations h4 {
  text-align: center;
  margin: 20px auto;
}

#locations p {
  font-size: 18px;
  margin: 10px auto;
}

.location {
  opacity: 0.9;
  padding: 10px;
  margin: 5px 20px;
  background-color: rgb(34, 25, 25);
  flex-basis: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* Contact Section */

#contact {
  text-align: center;
  width: 100%;
  height: 200px;
  background-color: rgb(34, 25, 25);
}

#contact h3 {
  margin-top: 0px;
  padding-top: 40px;
}

#contact h5 {
  margin: 10px auto;
}

/* Footer Section */

footer {
  text-align: center;
  width: 100%;
  height: 50px;
  background-color: rgb(34, 25, 25);
}

#copyright {
  margin-top: 0px;
  padding-top: 5px;
  font-size: 18px;
}
